.main_footer {
    position: relative;
    bottom: 0;
    width: 100%;

}

.container {
    width: 100%;
    background: #232F3E;
    padding-bottom: 5em;
}

.footer_button {
    width: 100%;
    position: relative;
    bottom: 80px;
    height: 49px;
    border-right:none ;
    border-left: none;
    background: #485769;
    color: #fff;
    cursor: pointer;
}


.row {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: -120px;
    color: #fff;
}

.col {
    flex-direction: column;
    justify-content: flex-start;
}

.first-col {
    margin-top: -380px;
}

 .third-col {
    margin-top: -260px;
}

.forth-col {
    margin-top: 160px;
}

.col > h4 {
    margin-left: 40px;
}

.col li {
    list-style: none;
    margin-top: 10px;
    font-weight: 100;
}

.footer_countries {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 100px;
    background-color: #303e50;
    overflow: hidden;
}

.footer_logo {
    width: 80px;
    object-fit: contain;
    margin-left: 20px;
    margin: 0 20px;
    margin-top: 18px;
}

.countries {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    color: #fff;
    margin: 0 auto;
    min-width: 400px;
}

.footer_countries .table {
    display: table;
  }

.countries .no_space {
    white-space: nowrap;
}

.countries li {
    display: inline;
    font-size: 12px;
    margin: 6px;
}

@media screen and (max-width: 48em) { 
    .container {
        display: none;
      }
    
    
      .footer_countries {
        margin-top: -80px;
        bottom: 0;
        background: #232F3E;
    
      }
}

@media screen and (max-width: 26.875em) { 
    .main_footer {
        max-width: 100%;
        
      }
    
      .row {
       margin: 0 auto;
       padding-left: 60px;
       padding-right: 60px;
       overflow: hidden;
      }
    
    
      .col li {
        margin-top: 3px;
        font-weight: 10;
      }
     
      
}